@model Northwind.Store.UI.Web.Internet.ViewModels.CartViewModel
@{
    var pa = (Product)ViewBag.productAdded;
    var paName = TempData["ProductName"];
}
@if (pa != null)
{
    <div class="alert alert-info" role="alert">
        Product Added: @pa.ProductName!
    </div>
}

@if (Model != null && Model.Items.Any())
{
    <table class="table">
        <thead>
            <tr><th>Product</th><th>Price</th></tr>
        </thead>
        <tbody>
            @foreach (var p in Model.Items)
            {
                <tr>
                    <td>@p.ProductName</td>
                    <td>@p.UnitPrice?.ToString("n")</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr><th>Items Count</th><td>@Model.Count</td></tr>
            <tr><th>Items Total</th><td>@Model.Total.ToString("n")</td></tr>
        </tfoot>
    </table>
    <div class="form-group">
        <a asp-action="Create" asp-controller="Order" class="btn btn-primary">Place Order!</a>
    </div>
}
else
{
    <h3>Your cart is empty! 😮</h3>
}